@page
@model IndexModel
@{
    ViewData["Title"] = "A Casa dos Amantes de Pizza";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Boas-vindas ao Contoso Pizza</h1>
    <p class="lead">A melhor pizza da cidade por @Convert.ToInt32(timeInBusiness.TotalDays) dias!</p>
</div>
